---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" href="/favicon.png" /> -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<link rel="icon" type="image/svg+xml" href="/piba.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Primera Iglesia Bautista de Armenia</title>
	</head>
	<body>
		<h1>Primera Iglesia Bautista de Armenia</h1>
		<h2>Amamos a Dios y lo que Él ama</h2>
	</body>
</html>
